[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
asobann = {editable = true,path = "."}
pillow = "*"
typer = "*"
requests = "*"

[packages]
flask = "*"
flask-socketio = "*"
flask-pymongo = "*"
pytest = "*"
gunicorn = "*"
selenium = "*"
redis = "*"
dnspython = "*"
eventlet = "*"

[requires]
python_version = "3.6"
