<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
          integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='interact.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='play_session.js') }}" type="module"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
</head>

<body>
</body>
</html>
