html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.title {
    color: lightgray;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr;
    height: 100%;
}

.menu {
    text-align: center;
    border: brown 2px solid;
    color: black;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: cadetblue;
    background-image: url("../image/menu_bg.jpg");
}

.menuitem {
    display: block;
    margin: 3px;
    background-image: url("../image/menuitem_bg.png");
    background-size: 100% 100%;
    padding: 5% 6px 5% 6px;
}

.menuitem.menuheader {
    margin: 0;
    color: white;
    background-image: url("../image/menuheader_bg.png");
}

.menuitem.about {
    font-size: small;
    background-image: url("../image/menuabout_bg.png");
}

.copyright {
    font-size: x-small;
}

.menuitem a {
    color: blue;
}

.table_container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: chartreuse;
    background-image: url("../image/tabletop.jpg");
    clip-path: inset(0px);
}

.table {
    position: relative;
    height: 100%;
    width: 100%;
}

.table_list {
    position: relative;
}

.component {
    position: absolute;
    color: white;
    display: flex;
    align-items: safe center;
    justify-content: center;
    overflow: hidden;

    /*disable selecting text by double click*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.component.hand_area {
    color: black;
    align-items: self-start;
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-image: url("../image/left-hand.png"),
    url("../image/right-hand.png");
    background-position: left, right;
    background-size: contain;
}

.component img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.component span {
    text-align: center;
    text-overflow: ellipsis;
}

.component span.component_text {
    width: 100%;
    position: relative;
}

.component button.component_text {
    width: 80%;
    height: 90%;
}

.counter_component {
    background-color: rgba(47, 79, 63, 0.5);
}

.component .counter {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.component .counter .valueContainer {
    width: 100%;
}

.component .counter .counterValue {
    margin: 2px 5px 2px 5px;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    text-align: right;
}

.component .counter .buttons {
    flex: 1;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

.component .counter .buttons button {
    width: 20%;
    height: 100%;
    font-size: xx-small;
    margin: 0;
    padding: 0;
}

div.others_mouse_cursor {
    position: absolute;
}

div.others_mouse_cursor .icon {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background-color: darkcyan;
    background-image: url("../image/mouse_cursor.png");
    background-size: 100% 100%;
}

div.others_mouse_cursor.buttons_down .icon {
    background-image: url("../image/mouse_cursor_buttons_down.png");
    background-size: 100% 100%;
}

div.others_mouse_cursor.buttons_down span {
    text-align: center;
}

div.kit_selection_container {
    background-color: rgba(48, 48, 48, 0.4);
    position: fixed;
    width: 150px;
    height: 100%;
    top: 0;
    left: 0;
}

div.kit_selection_container .kit_selection {
    background-color: rgba(255, 255, 255, 1.0);
    color: black;
    position: fixed;
    width: 150px;
    top: 25%;
    bottom: 0;
    overflow: scroll;
}

div.kit_selection_container .item {
    display: block;
    margin: 8px;
    background-color: aquamarine;
}

@keyframes dice_rolling {
    from {
        background-size: 0% 100%, 100% 100%;
    }
    to {
        background-size: 100% 100%, 0% 100%;
    }
}

div.release_note {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 60%;
    height: 80%;
    background-color: white;
}

div.release_note div.text {
    overflow: auto;
}

div.release_note .close {
    position: absolute;
    bottom: 20px;
}

div.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999999999999;
    display: flex;
    align-items: safe center;
    justify-content: center;
}

div.modal_contents {
    border: 8px solid aqua;
    padding: 32px;
    position: absolute;
    background-color: white;
    width: 50%;
    height: 50%;
    text-align: center;
}

div.modal_contents form {
}


div.note_editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

div.note_editor textarea {
    flex: 1;
    width: 100%;
}

div.note_editor div.button_frame {
    text-align: right;
    height: 4vh;
}

button#show_performance_recording {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999999999;
}

div.component_overlay {
    opacity: 1.0;
    display: none;
    position: absolute;
}

div.component_overlay div.items_container {
    color: antiquewhite;
    background-color: forestgreen;
    box-shadow: cornflowerblue 0 0 6px 12px;
}

div.overlay_button img {
    width: 60px;
}

div.component div#kit_box_body {
    width: 90%;
    height: 90%;
}

div.component textarea#kit_json {
    width: 90%;
    height: 90%;
}