<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  {% if config['GOOGLE_ANALYTICS_ID'] %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176419428-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-176419428-1');
    </script>
  {% endif %}

  <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
  <script type="text/javascript">
    console.log("hi! i'm index");
  </script>
</head>

<body>
<h1>play card game</h1>
<form action="/join_session" method="POST">
  <div>
    <label for="tablename">enter key to join, empty to create new</label>
    <input id="tablename" name="tablename">
  </div>
  <div>
    <label for="player">your name</label>
    <input id="player" name="player" value="player-{{ default_player_name }}">
    <label for="observer">observer</label>
    <input id="observer" name="observer" type="checkbox" disabled="true">
  </div>
  <input type="submit">
</form>
</body>
</html>