<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  {% if config['GOOGLE_ANALYTICS_ID'] %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config['GOOGLE_ANALYTICS_ID'] }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config["GOOGLE_ANALYTICS_ID"] }}');
    </script>
  {% endif %}

  <script src="{{ url_for('static', filename='main.js') }}" type="module"></script>
</head>

<body>
</body>
</html>
